body {
  height: 100%;
  width: 100%;
  background-color: black;
}

h3 {
  color: green
}

.sun {
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 50%;
}

.body2 {
  background-color: yellow !important;
}

.on {
  background-color: red !important;
}